.container
	.panel.panel-primary
		.panel-heading New Book 
			span(ng-show="vm.book.title") -> {{ vm.book.title }}
		.panel-body
			form(name="bookForm" novalidate).form-horizontal
				fieldset
					legend Book Information
					.form-group(ng-class="{'has-error': bookForm.title.$invalid  && bookForm.title.$dirty }")
						label(for="title").control-label.col-md-2 Title:
						.col-md-6
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-file
								input(id="title" name="title" type="text" placeholder="Book title (required)" data-ng-model="vm.book.title" required).form-control
						span(ng-show="bookForm.title.$invalid").help-block.has-error Book title is required.
					
					.form-group(ng-class="{'has-error': bookForm.author.$invalid && bookForm.author.$dirty }")
						label(for="author").control-label.col-md-2 Author:
						.col-md-4
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-user
								input(id="author" name="author" type="text" placeholder="Author (required)" data-ng-model="vm.book.author" required).form-control
						span(ng-show="bookForm.author.$invalid").help-block.has-error Author is required.

					.form-group
						label(for="genre").control-label.col-md-2 Genre:
						.col-md-4
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-pencil
								input(id="genre" name="genre" type="text" placeholder="Genre" data-ng-model="vm.book.genre").form-control
					.form-group
						label(for="price").control-label.col-md-2 Price:
						.col-md-2
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-usd
								input(id="price" name="price" type="number" setp="0.05" placeholder="Price" data-ng-model="vm.book.price").form-control

					.form-group
						label(for="publisher").control-label.col-md-2 Publisher:
						.col-md-3
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-print
								input(id="publisher" name="publisher" type="text" placeholder="Publisher" data-ng-model="vm.book.publisher").form-control
						
					.form-group
						label(for="publishedDate").control-label.col-md-2 Published Date:
						.col-md-3
							.input-group
								input(id="publishedDate"
									type="text" 
									placeholder="Date of publishing" 
									datepicker-popup="MMM dd, yyyy"
									is-open="vm.opened"
									data-ng-model="vm.book.publishedDate").form-control
								span.input-group-btn
									button(ng-click="vm.open($event)").btn.btn-default
										i.glyphicon.glyphicon-calendar

					.form-group
						label(for="summary").control-label.col-md-2 Summary:
						.col-md-6
							textarea(id="summary" name="summary" type="text" rows="8" placeholder="Bio" data-ng-model="vm.book.summary").form-control
						br
					span.col-md-offset-6
						button#saveButton(type="submit" ng-click="vm.save(bookForm.$valid)").btn.btn-primary Save
					span
						button#cancelButton(ng-click="vm.cancel()").btn.btn-default Cancel

