form(name="bookForm" novalidate).form-horizontal
	fieldset
		legend Book Information
		.form-group(ng-class="{'has-error': bookForm.inputTitle.$invalid  && bookForm.inputTitle.$dirty }")
			label(for="inputTitle").control-label.col-md-2 Title:
			.col-md-6
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-file
					input(id="inputTitle" name="inputTitle" type="text" placeholder="Book title (required)" data-ng-model="vm.book.title" required).form-control
			span(ng-show="bookForm.inputTitle.$invalid").help-block.has-error Book title is required

		.form-group(ng-class="{'has-error': bookForm.inputAuthor.$invalid && bookForm.inputAuthor.$dirty }")
			label(for="inputAuthor").control-label.col-md-2 Author:
			.col-md-4
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-user
					input(id="inputAuthor" name="inputAuthor" type="text" placeholder="Author (required)" data-ng-model="vm.book.author" required).form-control
			span(ng-show="bookForm.inputAuthor.$invalid").help-block.has-error Author field is required

		.form-group
			label(for="inputGenre").control-label.col-md-2 Genre:
			.col-md-4
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-pencil
					input(id="inputGenre" name="inputGenre" type="text" placeholder="Genre" data-ng-model="vm.book.genre").form-control
		.form-group
			label(for="inputPrice").control-label.col-md-2 Price:
			.col-md-2
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-usd
					input(id="inputPrice" name="inputPrice" type="number" setp="0.05" placeholder="Price" data-ng-model="vm.book.price").form-control

		.form-group
			label(for="inputPublisher").control-label.col-md-2 Publisher:
			.col-md-4
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-print
					input(id="inputPublisher" type="text" placeholder="Publisher" data-ng-model="vm.book.publisher").form-control

		.form-group
			label(for="inputPublishedDate").control-label.col-md-2 Published Date:
			.col-md-3
				.input-group
					input(id="inputPublishedDate"
						type="text" 
						placeholder="Date of publishing" 
						datepicker-popup="MMM dd, yyyy"
						is-open="vm.opened"
						data-ng-model="vm.book.publishedDate").form-control
					span.input-group-btn
						button(ng-click="vm.open($event)").btn.btn-default
							i.glyphicon.glyphicon-calendar

		.form-group
			label(for="inputSummary").control-label.col-md-2 Summary:
			.col-md-6
				textarea(id="inputSummary" name="inputSummary" type="text" rows="8" placeholder="Bio" data-ng-model="vm.book.summary").form-control

		span.col-md-offset-2
			button#saveButton(ng-click="vm.save(bookForm.$valid)").btn.btn-primary Save
		span
			button#cancelButton(ng-click="vm.cancel()").btn.btn-default Cancel

